*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1.5rem;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

._white,a{
    color: white;
}




nav{
    height: 80px;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav .container{
    height: 100%;
}

.mainbar{
    display: flex;
    height: 100%;
    justify-content: center;
}

.genders-kids{
    flex: 0 0 20%;
}

.links-gender{
    display: flex;
    height: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex: 0 0 70%;
}

.links-gender,.user-icon{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.user-icon{
    flex: 0 0 10%;
}

/* Main */

.Cards{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 4em;

}

.card{
    width: 30%;
    position: relative;
    
}

.image-length{
    width: 100%;
    display: flex;
}

h1{
    font-size: 0.9em;
}

p{
    color: #FF2939;
    display: inline;
}

span{
    text-decoration: line-through;
}

.discount{
    background-color: #FE0303;
    width: 20%;
}

.ecologic{
    background-color: #007F00;
    width: 45%;
    
}

.discount,.ecologic{
    padding: 0.2em;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 150px;
}

.prefer{
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    padding: 0.5em;
}

/* Image-changes */

.card .n1:hover {
visibility: hidden;
}


/* Footer */

footer{
    height: 100px;
    background-color: black;
    font-size: 0.9em;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}



